* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #ec5242 50%, #2e3192 50%);
}

button {
  cursor: pointer;
}

.to-do-container {
  width: 45%;
  color: #777272;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  border-radius: 15px;
  background-color: white;
  padding: 10px 0;
}

.to-do-inner {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 17px 3px;
  border-bottom: 1px solid #dfd6d6;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.fa-arrows-rotate {
  animation: rotate 2s linear infinite;
}

.fa-arrows-rotate:hover {
  animation: none;
}

.error-msg {
  display: none;
  margin: 0 auto;
  width: max-content;
  font-weight: 600;
  color: #d8000c;
  background-color: #ffbaba;
  border-radius: 8px;
  border: 1px solid;
  padding: 10px;
}

.list-container-inner {
  padding: 17px;
  border-bottom: 1px solid #dfd6d6;
  font-weight: 600;
}

.list-container-inner:first-child {
  padding-top: 0;
}

.list-container-inner:last-child {
  border: none;
}

.list-container-inner span {
  padding-left: 15px;
}

.remove-task-btn {
  float: right;
}

@keyframes jiggle {
  0%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-2px);
  }

  50% {
    transform: translateX(2px);
  }

  75% {
    transform: translateX(-2px);
  }
}

.remove-task-btn:hover {
  animation: jiggle 0.5s ease-in-out 1;
}

.add-task-container {
  display: flex;
  align-items: center;
  padding: 7px 17px;
}

input {
  flex: 1;
  font-style: italic;
  border: none;
  border-bottom: 1px solid #dfd6d6;
  padding: 7px 0;
}

input:focus {
  outline: none;
  border-color: #dfd6d6;
}

.add-task-btn {
  border: none;
  font-size: 18px;
  border-bottom: 1px solid #dfd6d6;
  background-color: white;
  padding: 7px 0;
}

.clear-task-btn {
  display: block;
  margin: 0 auto;
  padding: 15px;
  color: #fff;
  background-color: #ec5242;
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 18px;
  transition: background-color 1s, color 1s, text-decoration 1s, border 1s;
}

.clear-task-btn:hover {
  color: #ec5242;
  background-color: #fff;
  border: 1px solid #ec5242;
}

@media (width <= 768px) {
  .to-do-container {
    width: 75%;
  }
}

@media (width <= 600px) {
  .to-do-container {
    width: 85%;
  }
}
