* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.to-do-container {
  width: 35%;
  margin: 0 auto;
  color: #777272;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.to-do-inner {
  display: flex;
  flex-direction: column;
  /*padding: 17px 17px 0 17px;*/
  gap: 20px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-container-inner {
  padding: 0 17px;
  margin-bottom: 18px;
  border-bottom: 1px solid #dfd6d6;
}

.list-container-inner:last-child {
  margin: 0;
  border: none;
}

.list-container-inner span {
  padding-left: 15px;
}

.fa-ellipsis-vertical {
  float: right;
}

.add-btn {
  font-style: italic;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #dfd6d6;
}

.clear-btn {
  padding: 15px;
  width: 100%;
  color: #777272;
  font-size: 14px;
  border: none;
}

.clear-btn:hover {
  color: black;
  text-decoration: underline;
}
